.Bild {
    background: url(images/BPMN.png) center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.Technologie {
    background: url(images/technologie1.png) center center fixed;
}

.Team {
    background: url(images/team.jpg) center center fixed;

}
.navbar {
    background-color: #ffffff;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.navbar:hover {
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.8);
}

body {
    background: #9bd3d9;
    user-select: none;

}


.slideshow-container {
    max-width: 100%;
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px 5px 5px 5px;
}

.mySlides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: gray;
    font-weight: bold;
    font-size: 36px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
}
.prev {
    left: 0;
}

.prev:hover,
.next:hover {
    color: black;
    transform: scale(1.1);
}

.screenshots-img {
    background: url(images/handwritting_screen.png);
    align-content: center;
    width: 100%;
    height: 600;
}

.result-content {
    background-color: #fff;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
    width: 100%;
}

.h4 {
    text-align: left;
}

.con {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: auto;
    margin-left: 10%;
    margin-right: 10%;
}

.col {
    background-color: #9bd3d9;
    margin: 0px;
    flex-grow: 1;
    flex-basis: 33%;
}

.con .col {
    cursor: pointer;
}

.con .col .face {
    margin: center;
    width: 350px;
    height: 200px;
    transition: 0.5s;
}

.face {
    flex-grow: 0;
    border: 1px solid grey;
    border-radius: 5px;
    align-content: center;
}

.con .col .face1 {
    position: relative;
    background-color: #343a40;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 1;
    transform: translateY(100px);
}

.con .col:hover .face1 {
    background-color: #2a345a;
    transform: translateY(0);
}

.con .col .face1 .content {
    opacity: 0.2;
    transition: 0.5s;
    text-align: center;
}

.con .col:hover .face.face1 .content {
    opacity: 1;
}

.con .col .face1 .content img {
    max-width: 150px;
    margin: auto;
    text-align: center;

}

.con .col .face1 .content h3 {
    margin: 3px 0 0;
    padding: 0;
    color: #ffff;
    text-align: center;
    font-size: 18px;
}

.con .col .face2 {
    position: relative;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.con .col:hover .face2 {
    transform: translateY(0);
}

.con .col:hover .face2 .content p {
    margin: 0;
    padding: 0;
}

.con .col:hover .face2 .content a {
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #2a345a;

}

.con .col:hover .face2 .content a:hover {
    background-color: #2a345a;
    color: #fff;
}

.Team {
    text-align: center;
}

#myfooter {
    background-color: #343a40;
    color: white;
}

#myfooter a,
#myfooter a:hover,
#myfooter a:visited,
#myfooter a:link {
    text-decoration: none;
    color: white;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}

.techn {
    display: grid;
    width: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5%;
    grid-auto-rows: minmax(100px, auto);
    padding: 10px;
}

.logo {
    background-color: white;
    text-align: center;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
    transition: transform 0.3s;
}

.logo:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.techlogo img {
    padding-top: 10px;
    text-align: center;
    width: auto;
    height: 100px;
}

.techname {
    text-align: center;
}

.text {
    padding: 20px;
}

.hide {
    display: none;
}

.displayed {
    display: block;
}